.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 10px;
}

input {
  margin-top: 5px;
  height: 15px;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

textarea {
  margin-top: 5px;
  height: 15px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  max-width: 96%;
  min-height: 10vh;
}

button {
  margin-left: auto;
  margin-top: 5px;
  width: 30%;
  border-radius: 5px;
  border: none;
  height: 20px;
  cursor: pointer;
}